<?xml version='1.0' encoding='utf-8'?>
<Context>
	<Resource name="jdbc/TradeDataSource" auth="Container" type="javax.sql.DataSource"
          username="inst1"
          password="passw0rd"
          driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://10.20.42.2:5432/tradedb"
          maxActive="20"
          maxIdle="10" />
</Context>